
html{
    max-width: 1000px;
}
body{
    font-family: 'Source Sans Pro', sans-serif; background-color: rgb(155, 199, 172);
    text-align: center;
    letter-spacing: 2px;
    -webkit-animation: fadein 2s;
}
p.foot{
    font-family: 'Source Sans Pro', sans-serif;   
    font-size: 20px;
    letter-spacing: 0px;
    color: rgb(56, 56, 56);
}
p#date{
    font-family: 'Almendra Display', cursive;
    color: white;
    font-size: 22px;
    margin: 5px;
}
p#greeting{
    text-align: left;
    font-size: 18px;
    color: rgb(56, 56, 56);
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.body{
    margin: 40px;
    padding: 10px;
    border: 4px solid white;
    outline: 1px solid rgb(0, 0, 0);
}
#entry-form{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 20px;
}
input#name{
    font-family: 'Source Sans Pro', sans-serif;    font-size: 18px;
    width: 20%;
    background-color: rgb(226, 245, 197);
    border: 1px solid white;
}
textarea{
    width: 250px;
    height: 150px;
    background-color: rgb(226, 245, 197);
    font-family: 'Source Sans Pro', sans-serif;    font-size: 15px;   
    resize: none;
    outline: none;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid white;
}
#textarea-container{
    flex-direction: row;
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
}
::placeholder{
    text-align: center;
    padding: 20%;
    font-size: 16px;
}
input{
    outline: none;
    border-radius: 4px;
    border: 1px solid black;
}
#date-input{
    font-family: 'Source Sans Pro', sans-serif; 
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 20px;
}
.lab{
    padding-top: 20px;
    color: white;
}
#reflections-container{
    justify-content: center;
}
#reflectionsUl{
    justify-content: center;
    list-style-type: none;
    text-align: right;
    padding-right: 300px;
    padding-left: 300px;
}
li{
    font-size: 20px;
    color: rgb(47, 58, 46);
    text-align: center;
}
li:hover{
    color: white;
    cursor: pointer;
}
.butt{
    width: 135px;
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    margin: 20px;
    background-color: rgb(107, 153, 107);
    font-family: 'Source Sans Pro', sans-serif;
}
.butt:hover{
    color: rgb(88, 112, 79);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 12px 16px rgb(88, 112, 79), 0 17px 50px 0 rgba(90, 117, 83, 0.19);
}
.butt#submit-btn{
    margin-left: 5px;
}
.butt-div{
    width: 25px;
}
img#snail-pic{
    opacity: 80%;
}
.animate__animated{
    opacity: 80%;
    --animate-duration: 300000ms;
    animation-name: glideIn;
}
@keyframes glideIn{
    from {margin-right: 70%;}
    to {margin-left: 70%;}
}
#save-delete-div{
    display: flex;
    justify-content: left;
}
#save-div, #delete-div{
    flex-direction: column;
    display:flex;
    margin: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
div#delete-div{
    position: absolute;
}
div#save-div{
    position: relative;
    top: -100px;
}
h1, p{
    color: white;
    font-family: 'Source Sans Pro', sans-serif;    
    margin: 5px;
}
h1{
    font-family: 'Almendra Display', cursive;
    font-size: 55px;
    letter-spacing: 8px;
    margin: 5px;
}
h3{
    font-family: 'Almendra Display', cursive;
    color: white;
    font-size: 22px;
    margin: 5px;
}
#clear-form-btn{
    margin: 5px;
}
#edit-name, #close-journal{
    margin: 5px;
}